/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        r-winkey {
            bindings = <&kp LEFT_GUI>;
            key-positions = <32 33>;
        };

        l-winkey {
            bindings = <&kp LEFT_WIN>;
            key-positions = <26 27>;
        };

        menu {
            bindings = <&kp C_MENU>;
            key-positions = <31 32>;
        };

        alt {
            bindings = <&kp LEFT_ALT>;
            key-positions = <34 33>;
        };

        escape {
            bindings = <&kp ESCAPE>;
            key-positions = <0 1>;
        };

        delete {
            bindings = <&kp DELETE>;
            key-positions = <12 13>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp TAB    &kp Q  &kp W  &kp F           &kp P      &kp B    &kp J      &kp L  &kp U           &kp Y    &kp FSLH  &kp MINUS
&kp BSPC   &kp A  &kp R  &kp S           &kp T      &kp G    &kp M      &kp N  &kp E           &kp I    &kp O     &kp SQT
&kp LCTRL  &kp Z  &kp X  &kp C           &kp D      &kp V    &kp K      &kp H  &kp COMMA       &kp DOT  &kp SEMI  &kp LCTRL
                         &mt LSHFT CAPS  &kp SPACE  &mo 1    &kp ENTER  &mo 1  &mt LSHFT CAPS
            >;
        };

        layer_1 {
            bindings = <
&kp TAB    &kp N7  &kp N5        &kp N3     &kp N1        &kp N9       &kp N0    &kp N2        &kp N4      &kp N6        &kp N8    &kp EQUAL
&kp BSPC   &none   &kp LS(LPAR)  &kp UP     &kp LS(RPAR)  &kp PG_UP    &kp HOME  &kp LS(LBRC)  &kp LBKT    &kp LS(RBRC)  &kp RBKT  &kp BSLH
&kp LCTRL  &none   &kp LEFT      &kp DOWN   &kp RIGHT     &kp PG_DN    &kp END   &kp GRAVE     &kp LS(LT)  &kp LS(GT)    &kp SEMI  &kp LCTRL
                                 &kp LSHFT  &kp SPACE     &trans       &mo 2     &trans        &kp LSHFT
            >;
        };

        layer_2 {
            bindings = <
&kp F11    &kp F7    &kp F5  &kp F3     &kp F1  &kp F9    &kp F10  &kp F2  &kp F4     &kp F6  &kp F8    &kp F12
&trans     &trans    &trans  &trans     &trans  &trans    &trans   &trans  &trans     &trans  &trans    &trans
&kp LCTRL  &kp LALT  &trans  &trans     &trans  &trans    &trans   &trans  &trans     &trans  &kp LALT  &kp LCTRL
                             &kp LSHFT  &trans  &trans    &trans   &trans  &kp LSHFT
            >;
        };
    };
};
